.card-img-top {
    width: 100%;
    height: 30vw;
    object-fit: cover;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Paytone One', sans-serif;
  /*overflow: hidden;*/
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  width: 100vw;
  height: 100vh;
}
.portada{
  margin: 2rem;  
}


.botones #borrar {
  padding: 0.5rem;
  font-weight: 200;
  font-size: 0.90vw;
  border-radius: 0.5rem;
  color: white;
  background: rgb(122, 0, 0);
}

.botones #editar {
  padding:0.5rem;
  font-weight: 200;
  font-size: 0.90vw;
  border-radius: 0.5rem;
  color: white;
  background: rgb(1, 95, 14);
  
}

#editar:hover {
  background-color: rgb(17, 236, 46);
  color: white;
  font-weight: 400;
}

#borrar:hover {
  background-color: rgb(238, 20, 20);
  color: white;
  font-weight: 400;
}